@media (max-width: 1440px) {

    .main__products__card__wrapper, .main__all__products__card__wrapper {
        justify-content: center;
    }
}

@media (max-width: 1360px) {

    .main__work__description__wrapper {
        margin-left: auto;
    }
}

@media (max-width: 1280px) {

    .main__information__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .main__information__img {
        width: 100%;
    }
}